<!DOCTYPE html>


<h3>Welcome</h3>

<br />
<br />
<br />

<html>
<head>
    <meta name="viewport" content="device-width, intitial-scale=1">
</head>
<body>
    <style>
    body { background-image: url('https://i.imgur.com/1jR97sN.jpg') }
    </style>
</body>
</html>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
